{% extends 'base.html' %}
{% load timetable_fill %}
{% load static %}
{#{% load timetable_fill %}#}
{% block title %}
    <title>Расписание</title
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/timetable.css' %}">
{% endblock %}
{% block content %}
    {% if request.user.is_staff %}

    {% endif %}
    <div class="timetable">
        <div class="week-names">
            <div>понедельник</div>
            <div>вторник</div>
            <div>среда</div>
            <div>четверг</div>
            <div>пятница</div>
            <div class="weekend">суббота</div>
            <div class="weekend">воскресенье</div>
        </div>
        <div class="content">
            <div class="content__row"></div>
            <div class="content__row"></div>
            <div class="content__row"></div>
            <div class="content__row"></div>
            <div class="content__row"></div>
            <div class="content__row weekend"></div>
            <div class="content__row weekend"></div>
        </div>
    </div>
{% endblock %}
{{% block script %}
    <script src="{% static 'js/timetable.js' %}"></script>
    {% if timetable %}
        <script>
            fillTimetable({{ timetable|safe }})
        </script>
    {% endif %}
{% endblock %}}