{% extends 'base.html' %}
{% load timetable_fill %}
{% load static %}
{#{% load timetable_fill %}#}
{% block title %}
    <title>Расписание</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/timetable.css' %}">
{% endblock %}
{% block content %}
    <div class="timetable">
        <div class="week-names">
            <div>понедельник</div>
            <div>вторник</div>
            <div>среда</div>
            <div>четверг</div>
            <div>пятница</div>
            <div>суббота</div>
            <div>воскресенье</div>
        </div>
        <div class="content">
            <div class="content__row"></div>
            <div class="content__row"></div>
            <div class="content__row"></div>
            <div class="content__row"></div>
            <div class="content__row"></div>
            <div class="content__row"></div>
            <div class="content__row"></div>
        </div>
    </div>
    <div id="confirmModal" class="modal">
        <div class="modal__content">
            <div class="modal__body">
                <h1 style="font-size: 2em; font-weight: bold;">Удалить запись</h1>
                <p>Вы уверены, что хотите удалить эту запись?</p>
            </div>
            <div class="modal__footer">
                <button type="button" class="btn cancel" onclick="$.modal.close()">Отмена</button>
                <button type="button" class="btn submit" id="modal__delete__analysis">Удалить</button>
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}
{{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="{% static 'js/timetable.js' %}"></script>
    {% if timetable %}
        <script>
            fillTimetable({{ timetable|safe }}, '{% url 'profile' 1 %}')
        </script>
    {% endif %}
{% endblock %}}