* {
    padding: 0;
    margin: 0;
    border: 0
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:active,
:focus {
    outline: 0
}

a:active,
a:focus {
    outline: 0
}

aside,
footer,
header,
nav {
    display: block
}

body,
html {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
    font-family: inherit
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a,
a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

body {
    font-family: "Montserrat", serif;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: auto;
}

@font-face {
    font-family: "GilroyExtraBold";
    src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf") format("opentype");
    font-style: normal;
    font-weight: auto;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

.header__container {
    background: #fff;
    font-family: minionpro, Baskerville, Georgia, Palatino, "Times New Roman", serif;
    font-weight: lighter;
    color: #000;
    font-size: 16px;
    line-height: 1.3;
    -webkit-box-shadow: 0 1px 5px grey;
    box-shadow: 0 1px 5px grey;
}

.header {
    display: block !important;
}

.header__wrapper {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    display: block;
    margin: 0 auto 60px;
}

.header__ribbon {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.header__items {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    align-items: center;
}

.menu {
    width: 100%;
    font-size: 14px;
    text-align: center;
    float: none;
}

.ds {
    margin: 0 30px;
    padding: 0;
    display: inline-block;
    font-weight: 600;
    color: #000;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: "Century Gothic", serif;
    cursor: pointer;
}

.ds:hover {
    color: #27ae60;
}

.ds.active {
    color: #27ae60;
}

.ds.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 2px 0 0 0;
    background-color: #27ae60;
    z-index: 1;
    opacity: 1;
}

.ds:hover:after {
    opacity: 1;
}

.ds:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 2px 0 0 0;
    background-color: #27ae60;
    opacity: 0;
    z-index: 1;
    transition: opacity .15s linear;
}

a {
    color: #000;
    text-decoration: none;
}

.logo__brand {
    width: 100%;
    display: inline-block;
    font-size: 40px;
    line-height: inherit;
    white-space: nowrap;
    font-family: "GilroyExtraBold", serif;
    cursor: default;
}


/*-----------------MAIN CONTENT----------------*/

.content__main {
    float: left;
    width: 100%;
}

.search__patient {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 20px;
    color: var(--body-quiet-color);
}

.object__tools {
    font-size: 10px;
    font-weight: bold;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -40px;
}

.object__tools li {
    float: left;
    margin-left: 5px;
    list-style-type: none;
    background: #333333;
    border-radius: 15px;
}

.object__tools .Plus {
    position: absolute;
    right: 12px;
}

a:link {
    text-decoration: none;
    transition: color 0.15s, background 0.15s;
}

.object__tools a:link, .object__tools a:visited {
    padding: 7px 38px 7px 12px;
    display: block;
    float: left;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.object__tools a:hover {
    color: #27ae60;
}

.object__tools a:hover path {
    transition: 0.15s linear;
    fill: #27ae60;
}

form {
    margin: 0;
    padding: 0;
}

.module {
    border: none;
    margin-bottom: 30px;
    background: #fff;
    min-height: 400px;
}

/*#changelist {*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    justify-content: space-between;*/
/*}*/

.changelist__form {
    flex: 1 1 auto;
    min-width: 0
}

.toolbar {
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #bdbdbd;
    background: #ffffff;
    color: #e0e0e0;
}

.search__item img {
    vertical-align: middle;
    margin-right: 4px;
}

.toolbar #searchbar {
    border: 1px solid #000000;
    padding: 2px 5px;
    vertical-align: top;
    max-width: 350px;
}

.toolbar form input {
    border-radius: 4px;
    font-size: 15px;
    padding: 5px;
    background-color: #f7f7f7;
    color: #000;
    font-family: "Montserrat", serif;
    font-weight: 600;
}

.toolbar form input[type="submit"] {
    border: 1px solid #353535;
    font-size: 13px;
    padding: 4px 8px;
    margin: 0;
    vertical-align: middle;
    background: #121212;
    box-shadow: 0 -15px 20px -10px rgb(0 0 0 / 15%) inset;
    cursor: pointer;
    color: #eeeeee;
    border-radius: 4px;
    font-weight: 400;
}

.toolbar form input[type="submit"]:hover {
    transition: 0.15s linear;
    color: #27ae60;
}


/*--------------------TABLE--------------------*/
.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    font-size: 17px;
}

@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

.row {
    display: table-row;
    background: #f6f6f6;
    cursor: pointer;
}

.table__header .cell:hover .arrow__down {
    border: 7px solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
    transition: 0.15s linear;
}

.row:not(.table__header):hover {
    background-color: #5dda72;
    transition: 0.15s linear;
}

.row:not(.table__header):nth-of-type(odd):hover {
    background-color: #5dda72;
    transition: 0.15s linear;
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}


.row.table__header {
    font-weight: 900;
    color: #ffffff;
    background: #333333;
}

.table__header .cell {
    font-size: 16px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table__header .cell:after {
    content: '';
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
    position: absolute;
    top: 12px;
    right: 12px;
}

.table__header .cell.active:after {
    border: 7px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    transition: 0.15s linear;
}


.arrow__up {
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
}

.arrow__down {
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
}

@media screen and (max-width: 580px) {
    .row {
        padding: 14px 0 7px;
        display: block;
    }

    .row.table__header {
        padding: 0;
        height: 6px;
    }

    .row.table__header .cell {
        display: none;
    }

    .row .cell {
        margin-bottom: 10px;
    }

    .row .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}

.cell {
    padding: 10px 16px;
    display: table-cell;
}

@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 16px;
        display: block;
    }
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.pagination a {
    display: inline-block;
    padding: 10px 18px;
    color: #222;
}

.pagination li:first-of-type, .pagination li:last-of-type, .pagination .is-active {
    background-color: #2ecc71;
    color: #fff;
    font-weight: bold;
}

.pagination li:first-of-type a, .pagination li:last-of-type a {
    color: #fff;
}

.pagination li:hover {
    transition: .15s linear;
    background-color: #2ecc71;
}

.pagination li:hover a {
    color: #fff;
    transition: .15s linear;
}

