.sickList__container{
    height: 100%;
    display: flex;
    max-width: 1440px;
    margin: 30px 60px 0 60px;
    flex-wrap: wrap;
}
.sickList__container input{
    /*background-color: #333;*/
}

.sickList_checkbox{
    display: flex;
    flex-direction: row;
}


.sickList_primary,
.sickList_duplicate{
    display: flex;
    margin: 5px 10px 5px 5px;
}

.sickList_primary label,
.sickList_duplicate label
{
    width: 100px;
}

.sickList__input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    font-size: 1.125em;
    border-radius: 0;
    border: 4px solid #eceff1;
}


.sickList_orgn{
    display: flex;
}

.dateIssue{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 14px 28px 14px;
}

.orgn{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FIO_zxc{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.FIO_zxc label{
    margin: 0 10px;
}

.sickList_photo{
    padding: 15px 0 0 0;
    height: max-content;
    width: max-content;
    margin-right: 100px;
}

#profile_img{
    height: 250px;
    width: 250px;
}

.sickList_right{
    width: 100%;
    display: flex;
}

.denomination_sickList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sickList_FIO{
    display: flex;
    align-items: center;
    margin: 10px 0;
    flex-direction: column-reverse;
}

.select__control {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    font-size: 1.125em;
    border-radius: 0;
    border: 4px solid #eceff1;
    margin: 0;
    outline: none;
    cursor: pointer;
}

.sickList_content{
    width: 100%;
}

.sickList_additional{
    width: 96%;
    display: flex;
    /* justify-content: end; */
    height: max-content;
    flex-wrap: nowrap;
    align-items: center;
}

.sickList_date_dtd{
    width: 95%;
}

.sickList_SEX{
    width: 10%;
    margin-bottom: 15px;
}

.sickList_date, .sickList_SEX, .sickList_reason{
    display: flex;
}

.sickList_date_dtd, .sickList_reason_code, .sickList_reason_addit_code, .sickList_date_dtd{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sickList_SEX{
    /*font-size: 16px;*/
}

.sickList_man, .sickList_woman, .sickList_gos{
    margin: 5px;
}
.sickList_gos{
    display: flex;
    justify-content: center;
}

.sickList_reason{
    width: 100%;
}

.sickList_reason_code{
    margin-right: 50px;
    width: 50%;
}

.sickList_reason_addit_code{
    width: 50%;
}

.sickList_wrap{
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin-top: 10px;
}

.sickList_address{
    display: flex;
    width: 60%;
    margin-bottom: 15px;
}

.sickList_address_organization{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sickList_disability{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 55%;
}

.sickList_gos_bhf{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sickList_gos_pg{
    width: 100%;

    margin-right: 10px;
}

.sickList_addi_printing{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.sickList_addi_printing_hg{*/
/*    width: 80%;*/
/*}*/

.origin{
    width: 40%;
    font-size: 16px;
    margin-bottom: 15px;
    display: flex;
    justify-content: end;
}

.sickList_margin-top{
    margin-top: 30px;
}

.sickList_work_header{
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 30px;
}

.sickList_table_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sickList_work_input_date{
    width: 100%;
}

.sickList_work{
    width: 100%;
}

.sickList_table_input{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: end;
}

.sickList_table_input_column{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.submit__form {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 30px 0 50px 0;
    outline: none;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-color: rgb(76 184 47);
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
}

.search__patient:after {
    bottom: 0 !important;
}

.submit__form:hover {
    background-color: rgb(24 173 47);
    transition: 0.15s;
}


/* CSS */
.button-4 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.button-4:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button-4:focus {
    outline: 1px transparent;
}

.button-4:before {
    display: none;
}

.button-4::-webkit-details-marker {
    display: none;
}

/*.sickList_printing{*/
/*    display: none;*/
/*}*/

/*@page  {*/
/*    size: A4;*/
/*    margin: 0;*/
/*}*/

@media print
{
    * { -webkit-print-color-adjust: exact; }

    header{
        display: none;
    }

    .sickList_printing{
        display: block;
    }

    .origin {
        justify-content: end;
    }

}

.sickList_date_jhj{
    display: flex;
    justify-content: space-between;
}