{% load static %}
{% load notify_tags %}
<header class="header__container">
    <nav class="header__wrapper">
        <div class="item">
            <a href="{% url 'patients' %}" class="ds">Пациенты</a>
        </div>
        <div class="item">
            <div class="logo__brand">Salutem</div>
        </div>
        <div class="item">
            <a href="{% url 'timetable' %}" class="ds">Расписание</a>
        </div>
        <div class="item">
            <div class="notification">
                <div class="icon notify__btn">{% if analyzes_notify.count != 0 %}
                    <span class="icon__counter notify__btn">{{ analyzes_notify.count }}</span>
                {% endif %}
                    <svg class="notify__btn" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                         style="display: block; width: 30px; height: 30px;">
                        <g class="notify__btn">
                            <path d="M10,20h4c0,1.1-0.9,2-2,2S10,21.1,10,20z M20,17.35V19H4v-1.65l2-1.88v-5.15c0-2.92,1.56-5.22,4-5.98V3.96 c0-1.42,1.49-2.5,2.99-1.76C13.64,2.52,14,3.23,14,3.96l0,0.39c2.44,0.75,4,3.06,4,5.98v5.15L20,17.35z M19,17.77l-2-1.88v-5.47 c0-2.47-1.19-4.36-3.13-5.1c-1.26-0.53-2.64-0.5-3.84,0.03C8.15,6.11,7,7.99,7,10.42v5.47l-2,1.88V18h14V17.77z"
                                  class="notify__btn"></path>
                        </g>
                    </svg>
                </div>
                <div class="notification__container notify">
                    <div class="notification__header notify"><span class="text notify">Уведомления</span><span
                            class="counter notify">{{ analyzes_notify.count }}</span></div>
                    <div class="notification__content notify">
                        {% if analyzes_notify %}
                            {% for analysis in analyzes_notify %}
                                {% if analysis.status == 'Новый' and analysis.show %}
                                    <div class="notification__item__container" data-id="{{ analysis.pk }}">
                                        <a href="{% url 'profile' analysis.patient.pk %}" class="notification__item">
                                            <div class="item__photo"><img src="{{ analysis.patient.photo.url }}"></div>
                                            <div class="item__text">
                                                {{ analysis.patient.Surname }} {{ analysis.patient.Name|first }}.{{ analysis.patient.Patronymic|first }}.
                                                записался на сдачу анализов ({{ analysis.type|truncatechars:10 }})
                                            </div>
                                            <div class="item__time">{{ analysis.date_of_change|timesince }} назад</div>
                                        </a>
                                        <div class="item__close"></div>
                                    </div>
                                {% elif analysis.status == 'Завершен' and analysis.show %}
                                    {% if analysis.date_of_change|sub %}
                                        <div class="notification__item__container" data-id="{{ analysis.pk }}">
                                            <a href="{% url 'profile' analysis.patient.pk %}"
                                               class="notification__item">
                                                <div class="item__photo"><img src="{{ analysis.patient.photo.url }}">
                                                </div>
                                                <div class="item__text">
                                                    {{ analysis.patient.Surname }} {{ analysis.patient.Name|first }}.{{ analysis.patient.Patronymic|first }}.
                                                    пришли результы анализов ({{ analysis.type|truncatechars:10 }})
                                                </div>
                                                <div class="item__time">{{ analysis.date_of_change|timesince }} назад
                                                </div>
                                            </a>
                                            <div class="item__close"></div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if user.is_authenticated %}
                <div id="profile__text">Добро пожаловать, <a
                        href="{% url 'specialist_profile' user.pk %}">{{ user.last_name }} {{ user.first_name|first }}.{{ user.patronymic|first }}.</a>
                    | <a
                            href="{% url 'logout' %}">Выход</a></div>
            {% else %}
                <div id="profile__text"><a href="{% url 'login' %}">Войти</a></div>
            {% endif %}
        </div>
    </nav>
</header>
