<div class="header__container">
    <div class="header">
        <nav class="header__wrapper">
            <div class="header__ribbon">
                <div class="header__items">
                    <div class="item">
                        <div class="menu">
                            <a href="{% url 'patients' %}" class="ds">Пациенты</a>
                            <a href="#" class="ds">Расписание</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="logo__brand">Salutem</div>
                    </div>
                    <div class="item">
                        <div class="menu">
                            <a href="#" class="ds">Профиль</a>
                            <a href="{% url 'logout' %}" class="ds">Выход</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>