{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/EditingPatient.css' %}">
{% endblock %}

{% block title %}
    <title>Профиль</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content__container">
            <div class="object__tools">
                <h1 class="search__patient">Профиль специалиста</h1>
            </div>
            <div class="page_patient">
                <div class="page_slice">
                    <div class="page_patient_left page_throw">
                        <div class="image_patient">
                            <div class="image">
                                {% if profile.photo %}
                                    <img src="{{ profile.photo.url }}" alt="аватар" id="profile_img">
                                {% else %}
                                    <img src="{% static 'img/unnamed.jpg' %}" alt="аватар" id="profile_img">
                                {% endif %}
                            </div>
                            <form id="user" method="post">
                                <div class="info_edit_item">
                                    <div class="info_edit_main_profile">
                                        <div class="info_edit_main_profile_avatar_reupload">
                                            <span class="bot8" style="width: 100px;margin: 20px 0 0 0
">Обновить</span>
                                            {% render_field form.photo id="update" accept="image/jpeg,image/png" %}
                                        </div>
                                        <div class="info_edit_main_profile_avatar_delete">
                                            <span class="bot8" style="width: 100px;margin: 20px 0 0 0">Удалить</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="page_patient_right page_throw">
                        <div class="page_patient_button">
                            <div class="page_button">
                                <button class="bot8">
                                    <a href="{% url 'timetable' profile.pk %}" style="color: inherit">Расписание</a>
                                </button>
                                <button class="bot8">
                                    <a href="{% url 'timetable' profile.pk %}" style="color: inherit">История
                                        посещений</a>
                                </button>
                            </div>
                        </div>

                        <div class="page_form">
                            <section class="content-block-list">
                                <div class="content-block-list__container">
                                    <div class="hpc-order-form-template__form">
                                        {{ form.non_field_errors }}
                                        <form name="field" method="post" id="jjdd">
                                            {% csrf_token %}
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <legend class="fieldset__legend">Данные:</legend>
                                                    <div class="input-field-wrapper__label" style="margin: 0 0 40px 0;
                                                    font-weight: bold;">Последний вход: {{ profile.last_login }}</div>
                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="powermail_field_anrede" title="">
                                                                 <span class="input-field-wrapper__label">
                                                                     Пол
                                                                 </span>
                                                                </label>
                                                                <div class="select">

                                                                    {% render_field form.sex class="select__control" id="powermail_field_anrede" %}

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fieldset__row fieldset__row--col fieldset__row--col2">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="powermail_field_vorname" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Имя
                                                                    </span>
                                                                </label>
                                                                {% render_field form.name class="text-input powermail_input" id="powermail_field_vorname" placeholder="Александр" value=profile.first_name %}
                                                            </div>
                                                            <div class="invalid-feedback" id="invalid_name"
                                                                 style="display: none">
                                                                Это поле не может быть пустым или иметь не
                                                                корректные значения.
                                                            </div>
                                                        </div>
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_nachname" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Фамилия
                                                                    </span>
                                                                    {% render_field form.surname class="text-input powermail_input" id="powermail_field_nachname" placeholder="Белоусов" value=profile.last_name %}

                                                                </label>
                                                            </div>
                                                            <div class="invalid-feedback" id="invalid_surname"
                                                                 style="display: none">
                                                                Это поле не может быть пустым или иметь не
                                                                корректные значения.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <div class="fieldset__row fieldset__row--col fieldset__row--col2">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="powermail_field_Patronymic" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Отчество
                                                                    </span>
                                                                    {% render_field form.patronymic class="text-input powermail_input" id="powermail_field_Patronymic" placeholder="Владиславович" value=profile.patronymic %}
                                                                </label>
                                                                <div class="invalid-feedback" id="invalid_patronymic"
                                                                     style="display: none">
                                                                    Это поле не может быть пустым или иметь не
                                                                    корректные значения.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_geburtsdatum" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        Дата рождения
                                                                    </span>
                                                                </label>
                                                                {% render_field form.date_of_birth type="date" class="text-input powermail_input" id="powermail_field_geburtsdatum" placeholder="yyyy-mm-dd" value=profile.date_of_birth %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <div class="fieldset__row fieldset__row--col fieldset__row--col2">
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_telefonnummer" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Номер телефона
                                                                    </span>
                                                                </label>
                                                                {% render_field form.telephone class="text-input powermail_input" id="powermail_field_telefonnummer" placeholder="012345678910" value=profile.phone %}

                                                            </div>
                                                            <div class="invalid-feedback" id="invalid_phone"
                                                                 style="display: none">
                                                                Это поле не может быть пустым или иметь не
                                                                корректные значения.
                                                            </div>
                                                        </div>
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_e_mail" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        E-Mail
                                                                    </span>
                                                                </label>
                                                                {% render_field form.email class="text-input powermail_input" id="powermail_field_e_mail" placeholder="mustermann@gmail.com" value=profile.email %}
                                                            </div>
                                                            <div class="invalid-feedback" id="invalid_email"
                                                                 style="display: none">
                                                                Введен некорректный адрес эл.почты.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_residence" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        Место проживания
                                                                    </span>
                                                                </label>
                                                                {% render_field form.place_of_residence class="text-input powermail_input" id="powermail_field_residence" placeholder="м. Донецьк, пров. Шота Руставелі, 91" value=profile.place_of_residence %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <div class="fieldset__row fieldset__row--col fieldset__row--col2">
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_pass_num" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        СЕРИЯ И НОМЕР ПАСПОРТА
                                                                    </span>
                                                                </label>
                                                                {% render_field form.passport_num class="text-input pass_num_input" id="powermail_field_pass_num" placeholder="КН993576" value=profile.passport_num %}
                                                            </div>
                                                            <div class="invalid-feedback" id="invalid_pass"
                                                                 style="display: none">
                                                                Это поле не может быть пустым или иметь не
                                                                корректные значения.
                                                            </div>
                                                        </div>
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_inn" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span></span>
                                                                        ИНН
                                                                    </span>
                                                                </label>
                                                                {% render_field form.inn class="text-input inn_input" id="powermail_field_inn" placeholder="1234567891" value=profile.inn %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_spec" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        СПЕЦИАЛИЗАЦИЯ
                                                                    </span>
                                                                </label>
                                                                {% render_field form.specializations class="text-input spec_input select__control" id="powermail_field_spec" %}
                                                            </div>
                                                        </div>
                                                        <div class="invalid-feedback" id="invalid_spec"
                                                             style="display: none">
                                                            Это поле не может быть пустым
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_education" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span></span>
                                                                        ОБРАЗОВАНИЕ
                                                                    </span>
                                                                </label>
                                                                <textarea name="education_field"
                                                                          id="powermail_field_education"
                                                                          class="text-input education_input">{{ profile.education }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <button type="submit" class="submit__form" id="profile_save">Сохранить
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none" id="hiddenSex">{{ profile.sex }}</div>
    <div style="display: none" id="hiddenSpec">{{ profile.specialization }}</div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="{% static 'js/SpecialistProfile.js' %}"></script>
{% endblock %}