{% load i18n %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}

    {% endblock %}
    {% block title %}{% endblock %}
</head>
<body>
{% include 'includes/header.html' %}
{% language 'ru' %}
    {% block content %}

    {% endblock %}
{% endlanguage %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/toastr.js' %}"></script>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function sameOrigin(url) {
        const host = document.location.host;
        const protocol = document.location.protocol;
        const sr_origin = '//' + host;
        const origin = protocol + sr_origin;
        return (url === origin || url.slice(0, origin.length + 1) === origin + '/') ||
            (url === sr_origin || url.slice(0, sr_origin.length + 1) === sr_origin + '/') ||
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader('X-CSRFToken',
                    $('input[name="csrfmiddlewaretoken"]').val());
            }
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let headerLinks = document.querySelectorAll("header .ds");
        let currentHeaderLink;
        headerLinks.forEach(item => {
            if (item.pathname.split('/')[1] === location.pathname.split('/')[1]) {
                item.classList.add("active");
                currentHeaderLink = item;
            }
        });
        if (currentHeaderLink) {
            headerLinks.forEach(item => {
                if (item !== currentHeaderLink) {
                    item.addEventListener("mouseenter", () => {
                        item.classList.add("active");
                        currentHeaderLink.classList.remove("active")
                    });
                    item.addEventListener("mouseleave", () => {
                        item.classList.remove("active");
                        currentHeaderLink.classList.add("active")
                    });
                }
            });
        }
        let notifyStorage = [];
        if (localStorage.getItem('notify') !== null) {
            notifyStorage = localStorage.getItem('notify').split(',');
        }
        let notifyContainer = document.querySelector(".notification__container");
        let notifyItem = notifyContainer.querySelectorAll(".notification__item__container");
        let containerCounter = document.querySelector('.counter.notify');
        let headerCounter = document.querySelector('.icon__counter.notify__btn');
        checkStorage();
        headerCounter.textContent = headerCounter.textContent - notifyStorage.length;
        containerCounter.textContent = containerCounter.textContent - notifyStorage.length;
        CheckNotify();
        document.addEventListener("click", e => {
            if (e.target.classList.contains("notify__btn")) {
                notifyContainer.classList.toggle("active");
            } else if (!e.target.classList.contains("notify__btn") && notifyContainer.classList.contains("active") && !e.target.classList.contains("notify") && !e.target.classList.contains("item__close")) {
                notifyContainer.classList.remove("active");
            } else if (e.target.classList.contains("item__close")) {
                let id = e.target.parentElement.dataset.id;
                if (!notifyStorage.includes(id)) {
                    notifyStorage.push(id)
                    localStorage.setItem('notify', notifyStorage.toString())
                }
                headerCounter.textContent = headerCounter.textContent - 1;
                containerCounter.textContent = containerCounter.textContent - 1;
                CheckNotify();
            } else if (e.target.id === "showAll") {
                localStorage.setItem('notify', '');
                notifyItem.forEach(item => {
                    item.style.display = 'block';
                });
                headerCounter.textContent = notifyItem.length;
                containerCounter.textContent = notifyItem.length;
                notifyStorage = [];
            }
        });

        function checkStorage() {
            let tmp = [];
            notifyItem.forEach(item => {
                tmp.push(item.dataset.id);
            });
            notifyStorage = notifyStorage.filter(e => ~tmp.indexOf(e));
            localStorage.setItem('notify', notifyStorage);
        }

        function CheckNotify() {
            notifyStorage.forEach(pk => {
                notifyItem.forEach(item => {
                    if (item.dataset.id === pk) {
                        item.style.display = 'none';
                    }
                });
            });
            if (headerCounter.textContent === '0') {
                headerCounter.style.display = 'none';
            }
        }
    });
</script>
{% block script %}

{% endblock %}


</body>
</html>