{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}

    {% endblock %}
    {% block title %}{% endblock %}
</head>
<body>
{% include 'includes/header.html' %}
{% block content %}

{% endblock %}
{% block script %}

{% endblock %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let headerLinks = document.querySelectorAll(".header .ds");
        let currentHeaderLink;
        headerLinks.forEach(item => {
            if (item.href === location.href) {
                item.classList.add("active");
                currentHeaderLink = item;
            }
        });
        if (currentHeaderLink) {
            headerLinks.forEach(item => {
            if (item !== currentHeaderLink) {
                item.addEventListener("mouseenter", () => {
                    item.classList.add("active");
                    currentHeaderLink.classList.remove("active")
                });
                item.addEventListener("mouseleave", () => {
                    item.classList.remove("active");
                    currentHeaderLink.classList.add("active")
                });
            }
        });
        }
    });
</script>
</body>
</html>