{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}

    {% endblock %}
    {% block title %}{% endblock %}
</head>
<body>
{% include 'includes/header.html' %}
{% block content %}

{% endblock %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/toastr.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let headerLinks = document.querySelectorAll("header .ds");
        let currentHeaderLink;
        headerLinks.forEach(item => {
            if (item.href === location.href) {
                item.classList.add("active");
                currentHeaderLink = item;
            }
        });
        if (currentHeaderLink) {
            headerLinks.forEach(item => {
                if (item !== currentHeaderLink) {
                    item.addEventListener("mouseenter", () => {
                        item.classList.add("active");
                        currentHeaderLink.classList.remove("active")
                    });
                    item.addEventListener("mouseleave", () => {
                        item.classList.remove("active");
                        currentHeaderLink.classList.add("active")
                    });
                }
            });
        }
        let notifyContainer = document.querySelector(".notification__container");
        document.addEventListener("click", e => {
            if (e.target.classList.contains("notify__btn")) {
                notifyContainer.classList.toggle("active");
            } else if (!e.target.classList.contains("notify__btn") && notifyContainer.classList.contains("active") && !e.target.classList.contains("notify") && !e.target.classList.contains("item__close")) {
                notifyContainer.classList.remove("active");
            } else if (e.target.classList.contains("item__close")) {
                $.ajax({
                    url: '/user/hide_notification/',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        pk: e.target.parentElement.dataset.id
                    },
                    success: (data) => {
                        if ('success' in data) {
                            e.target.parentElement.remove();
                            document.querySelector('.counter.notify').textContent = document.querySelector('.counter.notify').textContent - 1;
                            document.querySelector('.icon__counter.notify__btn').textContent = document.querySelector('.icon__counter.notify__btn').textContent - 1;
                            if (document.querySelector('.icon__counter.notify__btn').textContent === '0') {
                                document.querySelector('.icon__counter.notify__btn').style.display = 'none';
                            }
                        }
                    }
                })
            }
        });
    });
</script>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function sameOrigin(url) {
        const host = document.location.host;
        const protocol = document.location.protocol;
        const sr_origin = '//' + host;
        const origin = protocol + sr_origin;
        return (url === origin || url.slice(0, origin.length + 1) === origin + '/') ||
            (url === sr_origin || url.slice(0, sr_origin.length + 1) === sr_origin + '/') ||
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader('X-CSRFToken',
                    $('input[name="csrfmiddlewaretoken"]').val());
            }
        }
    });
</script>
{% block script %}

{% endblock %}


</body>
</html>