{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <link rel="stylesheet" href="{% static 'css/EditingPatient.css' %}">
{% endblock %}

{% block title %}
    <title>Пациенты</title>
{% endblock %}

{% block content %}




    <div class="container">
        <div class="content__container">
            <h1 class="search__patient">Профиль пациента</h1>
            <div class="page_patient">
                <div class="page_slice">
                    <div class="page_patient_left page_throw">
                        <div class="image_patient">
                            <div class="image">
                                <img src="{% static 'img/unnamed.jpg' %}" alt="аватар">
                            </div>
                            <form id="user" method="post">
                                <div class="info_edit_item">
                                    <div class="info_edit_main_profile">
                                        <div class="info_edit_main_profile_avatar" {% if not g.pf_image is None %}
                                             style="background-image:
                                                     url('{{ MEDIA_URL }}{{ g.pf_image }}')" {% endif %}>

                                        </div>
                                        <div class="info_edit_main_profile_avatar_reupload">
                                            <span>Обновить</span>

                                            {% render_field form.photo id="update" accept="image/jpeg,image/png" %}

                                        </div>
                                        <div class="info_edit_main_profile_avatar_delete">
                                            <span>Удалить</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="page_patient_right page_throw">
                        <div class="page_patient_button">
                            <div class="page_button">
                                <button class="bot8" id="analysisModalBtn" onclick="$('#analysisModal').modal();">Запись
                                    на анализы
                                </button>
                                <button class="bot8">Медицинская книжка</button>
                                <button class="bot8">История посещений</button>
                            </div>
                        </div>

                        <div class="page_form">
                            <section class="content-block-list">
                                <div class="content-block-list__container">
                                    <div class="hpc-order-form-template__form">
                                        {{ form.non_field_errors }}
                                        <form name="field" method="post" id="jjdd">

                                            {% csrf_token %}

                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <legend class="fieldset__legend">Данные:</legend>
                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="powermail_field_anrede" title="">
                                                                 <span class="input-field-wrapper__label">
                                                                     Пол
                                                                 </span>
                                                                </label>
                                                                <div class="select">

                                                                    {% render_field form.Sex class="select__control" id="powermail_field_anrede" %}

                                                                </div>
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                {{ form.Sex.errors }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fieldset__row fieldset__row--col fieldset__row--col2">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="powermail_field_vorname" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Имя
                                                                    </span>
                                                                </label>
                                                                {% render_field form.Name class="text-input powermail_input" id="powermail_field_vorname" placeholder="Александр" value=profile.Name %}
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                {{ form.Name.errors }}
                                                            </div>
                                                        </div>
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_nachname" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Фамилия
                                                                    </span>
                                                                    {% render_field form.Surname class="text-input powermail_input" id="powermail_field_nachname" placeholder="Белоусов" value=profile.Surname %}

                                                                </label>
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                {{ form.Surname.errors }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <div class="fieldset__row fieldset__row--col fieldset__row--col2">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="powermail_field_vorname" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Отчество
                                                                    </span>
                                                                    {% render_field form.Patronymic class="text-input powermail_input" id="powermail_field_Patronymic" placeholder="Владиславович" value=profile.Patronymic %}
                                                                </label>
                                                                <div class="invalid-feedback">
                                                                    {{ form.Patronymic.errors }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_geburtsdatum" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Дата рождения
                                                                    </span>
                                                                </label>
                                                                {% render_field form.Date_of_birth class="text-input powermail_input" id="powermail_field_geburtsdatum" placeholder="yyyy-mm-dd" value=profile.Date_of_birth %}
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                {{ form.Date_of_birth.errors }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <div class="fieldset__row fieldset__row--col fieldset__row--col2">
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_telefonnummer" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Номер телефона
                                                                    </span>
                                                                </label>
                                                                {% render_field form.Telephone class="text-input powermail_input" id="powermail_field_telefonnummer" placeholder="012345678910" value=profile.Telephone %}

                                                            </div>
                                                            <div class="invalid-feedback">
                                                                {{ form.Telephone.errors }}
                                                            </div>
                                                        </div>
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_e_mail" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        E-Mail
                                                                    </span>
                                                                </label>
                                                                {% render_field form.Email class="text-input powermail_input" id="powermail_field_e_mail" placeholder="mustermann@gmail.com" value=profile.Email %}

                                                            </div>
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            {{ form.Email.errors }}
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_residence" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Место проживания
                                                                    </span>
                                                                </label>
                                                                {% render_field form.Place_of_residence class="text-input powermail_input" id="powermail_field_residence" placeholder="м. Донецьк, пров. Шота Руставелі, 91" value=profile.Place_of_residence %}

                                                            </div>
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            {{ form.Place_of_residence.errors }}
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">

                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="powermail_field_blood" title="">
                                                                 <span class="input-field-wrapper__label">
                                                                     Группа крови
                                                                 </span>
                                                                </label>

                                                                {% render_field form.Blood_type class="select__control" id="powermail_field_blood" %}

                                                            </div>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </div>

                                            <button type="submit" class="submit__form">Сохранить</button>

                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none" id="hiddenSex">{{ profile.Sex }}</div>
    <div style="display: none" id="hiddenBlood">{{ profile.Blood_type }}</div>

    <div id="analysisModal" class="modal" style="max-width: 700px">
        <form method="post">
        {% csrf_token %}
            <fieldset class="fieldset">

                <div class="fieldset__row">
                    <div class="form-block">
                        <div>
                            <label for="analysisType" class="input-field-wrapper__label">Тип анализа</label>
                            <select name="analysisType" id="analysisType" class="select__control">
                                {% for analysis in analyzes %}
                                    <option value="{{ analysis.title }}">{{ analysis.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="fieldset__row">
                        <div class="form-block">
                            <div>
                                <label for="analysisDate" class="input-field-wrapper__label">Дата сдачи</label>
                                <input type="datetime-local" class="text-input powermail_input" id="analysisDate" name="analysisDate">
                            </div>
                        </div>
                    </div>

            </fieldset>
            <div style="display:flex; justify-content: center;">
                <button class="submit__form" id="submit__analysis" style="margin-bottom: 0">Записать</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="{% static 'js/PatientProfile.js' %}"></script>
    {#    <script src="{% static 'js/patients.js' %}"></script>#}
{% endblock %}