{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/EditingPatient.css' %}">
{% endblock %}

{% block title %}
    <title>Пациенты</title>
{% endblock %}

{% block content %}


    <div class="container">
        <div class="content__container">
            <h1 class="search__patient">Профиль пациента</h1>
            <div class="page_patient">
                <div class="page_slice">
                    <div class="page_patient_left page_throw">
                        <div class="image_patient">
                            <div class="image">
                                {% if profile.photo %}
                                    <img src="{{ profile.photo.url }}" alt="аватар" id="profile_img">
                                {% else %}
                                    <img src="{% static 'img/unnamed.jpg' %}" alt="аватар" id="profile_img">
                                {% endif %}
                            </div>
                            <form id="user" method="post">
                                <div class="info_edit_item">
                                    <div class="info_edit_main_profile">

                                        <div class="info_edit_main_profile_avatar_reupload">
                                            <span class="bot8" style="width: 100px;margin: 20px 0 0 0
">Обновить</span>
                                            {% render_field form.photo id="update" accept="image/jpeg,image/png" %}
                                        </div>
                                        <div class="info_edit_main_profile_avatar_delete">
                                            <span class="bot8" style="width: 100px;margin: 20px 0 0 0">Удалить</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="page_patient_right page_throw">
                        <div class="page_patient_button">
                            <div class="page_button">
                                <button class="bot8" id="analysisModalBtn" onclick="$('#analysisModal').modal();">
                                    Запись на анализы
                                </button>
                                <button class="bot8">
                                    <a href="{% url 'medicalcard' profile.pk %}" style="color: #555555;">
                                        Медицинская
                                        книжка
                                    </a>
                                </button>
                                <button class="bot8">История посещений</button>
                            </div>
                        </div>

                        <div class="page_form">
                            <section class="content-block-list">
                                <div class="content-block-list__container">
                                    <div class="hpc-order-form-template__form">
                                        {{ form.non_field_errors }}
                                        <form name="field" method="post" id="jjdd">

                                            {% csrf_token %}

                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <legend class="fieldset__legend">Данные:</legend>
                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="powermail_field_anrede" title="">
                                                                 <span class="input-field-wrapper__label">
                                                                     Пол
                                                                 </span>
                                                                </label>
                                                                <div class="select">

                                                                    {% render_field form.Sex class="select__control" id="powermail_field_anrede" %}

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fieldset__row fieldset__row--col fieldset__row--col2">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="powermail_field_vorname" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Имя
                                                                    </span>
                                                                </label>
                                                                {% render_field form.Name class="text-input powermail_input" id="powermail_field_vorname" placeholder="Александр" value=profile.Name %}
                                                            </div>
                                                            <div class="invalid-feedback" id="invalid_name"
                                                                 style="display: none">
                                                                Это поле не может быть пустым или иметь не
                                                                корректные значения.
                                                            </div>
                                                        </div>
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_nachname" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Фамилия
                                                                    </span>
                                                                    {% render_field form.Surname class="text-input powermail_input" id="powermail_field_nachname" placeholder="Белоусов" value=profile.Surname %}

                                                                </label>
                                                            </div>
                                                            <div class="invalid-feedback" id="invalid_surname"
                                                                 style="display: none">
                                                                Это поле не может быть пустым или иметь не
                                                                корректные значения.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <div class="fieldset__row fieldset__row--col fieldset__row--col2">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="powermail_field_vorname" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Отчество
                                                                    </span>
                                                                    {% render_field form.Patronymic class="text-input powermail_input" id="powermail_field_Patronymic" placeholder="Владиславович" value=profile.Patronymic %}
                                                                </label>
                                                                <div class="invalid-feedback" id="invalid_patronymic"
                                                                     style="display: none">
                                                                    Это поле не может быть пустым или иметь не
                                                                    корректные значения.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_geburtsdatum" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        Дата рождения
                                                                    </span>
                                                                </label>
                                                                {% render_field form.Date_of_birth type="date" class="text-input powermail_input" id="powermail_field_geburtsdatum" placeholder="yyyy-mm-dd" value=profile.Date_of_birth %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <div class="fieldset__row fieldset__row--col fieldset__row--col2">
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_telefonnummer" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        Номер телефона
                                                                    </span>
                                                                </label>
                                                                {% render_field form.Telephone class="text-input powermail_input" id="powermail_field_telefonnummer" placeholder="012345678910" value=profile.Telephone %}
                                                            </div>
                                                            <div class="invalid-feedback" id="invalid_phone"
                                                                 style="display: none">
                                                                Это поле не может быть пустым или иметь не
                                                                корректные значения.
                                                            </div>
                                                        </div>
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_e_mail" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        <span>*</span>
                                                                        E-Mail
                                                                    </span>
                                                                </label>
                                                                {% render_field form.Email class="text-input powermail_input" id="powermail_field_e_mail" placeholder="mustermann@gmail.com" value=profile.Email %}

                                                            </div>
                                                            <div class="invalid-feedback" id="invalid_email"
                                                                 style="display: none">
                                                                Введен некорректный адрес эл.почты.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div class="input-field-wrapper">
                                                                <label for="powermail_field_residence" title="">
                                                                    <span class="input-field-wrapper__label">
                                                                        Место проживания
                                                                    </span>
                                                                </label>
                                                                {% render_field form.Place_of_residence class="text-input powermail_input" id="powermail_field_residence" placeholder="м. Донецьк, пров. Шота Руставелі, 91" value=profile.Place_of_residence %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="form__section">
                                                <fieldset class="fieldset">

                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="powermail_field_blood" title="">
                                                                 <span class="input-field-wrapper__label">
                                                                     Группа крови
                                                                 </span>
                                                                </label>

                                                                {% render_field form.Blood_type class="select__control" id="powermail_field_blood" %}

                                                            </div>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </div>

                                            <button type="submit" class="submit__form" id="profile_save">Сохранить
                                            </button>

                                        </form>
                                    </div>


                                    <div class="hpc-order-form-template__form">
                                        <form method="post" id="analysis_form">
                                            {% csrf_token %}
                                            <div class="form__section">
                                                <fieldset class="fieldset">
                                                    <legend class="fieldset__legend">Анализы:</legend>
                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="analysis_name"
                                                                       class="input-field-wrapper__label">
                                                                    Название
                                                                </label>
                                                                <div class="select">
                                                                    <select name="analysis_name" id="analysis_name"
                                                                            class="select__control">

                                                                        {% for name in patient_analyzes %}
                                                                            <option value="{{ name.id }}"
                                                                                    id="{{ name.id }}-anlz">
                                                                                {{ name.type__title }}
                                                                            </option>
                                                                        {% endfor %}


                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="analysis_status"
                                                                       class="input-field-wrapper__label">
                                                                    Статус
                                                                </label>
                                                                <div class="select">
                                                                    <select name="analysis_type" id="analysis_status"
                                                                            class="select__control">

                                                                        <option value="Новый">Новый</option>
                                                                        <option value="В процессе">В процессе</option>
                                                                        <option value="Завершен">Завершен</option>

                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fieldset__row">
                                                        <div class="form-block">
                                                            <div>
                                                                <label for="analysis_result"
                                                                       class="input-field-wrapper__label">Результаты</label>
                                                                <textarea name="analysis_result" id="analysis_result"
                                                                          class="text-input powermail_input"
                                                                          style="resize: none;height: 200px;" disabled
                                                                ></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <button type="submit" class="submit__form" id="submit__analysis__result">
                                                Отправить
                                            </button>
                                            <button type="button" class="submit__form" id="delete__analysis"
                                                    onclick="$('#confirmModal').modal();">Удалить
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="analysisModal" class="modal" style="max-width: 700px">
        <form method="post">
            {% csrf_token %}
            <fieldset class="fieldset">
                <div class="fieldset__row">
                    <div class="form-block">
                        <div>
                            <label for="analysisType" class="input-field-wrapper__label">Тип анализа</label>
                            <select name="analysisType" id="analysisType" class="select__control">
                                {% for analysis in analyzes %}
                                    <option value="{{ analysis.pk }}">{{ analysis.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="fieldset__row">
                        <div class="form-block">
                            <div>
                                <label for="analysisDate" class="input-field-wrapper__label">Дата сдачи</label>
                                <input type="datetime-local" class="text-input powermail_input" id="analysisDate"
                                       name="analysisDate">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div style="display:flex; justify-content: center;">
                <button class="submit__form" id="submit__analysis" style="margin-bottom: 0">Записать</button>
            </div>
        </form>
    </div>
    <div id="confirmModal" class="modal">
        <div class="modal__content">
            <div class="modal__body">
                <h1 style="font-size: 2em; font-weight: bold;">Удалить Анализ</h1>
                <p>Вы уверены, что хотите удалить этот анализ?</p>
            </div>
            <div class="modal__footer">
                <button type="button" class="btn cancel" onclick="$.modal.close()">Отмена</button>
                <button type="button" class="btn submit" id="modal__delete__analysis">Удалить</button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        dataAnalyze = {{ patient_analyzes | safe }};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="{% static 'js/PatientProfile.js' %}"></script>
{% endblock %}