{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/patients.css' %}">
{% endblock %}
{% block title %}
    <title>Пациенты</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="content__container">
            <div class="object__tools">
                <h1 class="search__patient">Выберите пациента</h1>
                {% if not perms.user.edit_analyzes or request.user.is_staff %}
                    <a href="" class="AddLink">
                        <span class="Add">Добавить пациента</span>
                        <span class="Plus">
                            <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#ffffff"
                                  d="M1600 736v192q0 40-28 68t-68 28h-416v416q0 40-28 68t-68 28h-192q-40 0-68-28t-28-68v-416h-416q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h416v-416q0-40 28-68t68-28h192q40 0 68 28t28 68v416h416q40 0 68 28t28 68z"></path>
                            </svg>
                        </span>
                    </a>
                {% endif %}
            </div>
            <div class="content__main">
                <div class="module" id="changelist">
                    <div class="changelist__form">
                        <div class="toolbar">
                            <form method="get" id="changelist__search">
                                <div class="search__item">
                                    <label for="searchbar">
                                        <img src="{% static 'img/search.svg' %}" alt="Search">
                                    </label>
                                    <input type="text" size="40" name="q" value="{{ request.GET.q }}" id="searchbar"
                                           autofocus>
                                    <input type="submit" value="Найти">
                                    <input type="reset" value="Сбросить"
                                           onclick="window.location.href = {% url 'patients' %}">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="table">
                        {% if perms.user.edit_analyzes %}
                            <div class="row table__header">
                                <div class="cell" id="header1">Пациент</div>
                                <div class="cell" id="header2">Врач</div>
                                <div class="cell" id="header3">Дата сдачи</div>
                            </div>
                            {% for patient in patients %}
                                <a href="{% url 'profile' patient.patient.pk %}" class="row">
                                    <div class="cell"
                                         data-title="Patient">{{ patient.patient.Surname }} {{ patient.patient.Name }} {{ patient.patient.Patronymic }}</div>
                                    <div class="cell"
                                         data-title="Specialist">{{ patient.specialist.last_name }} {{ patient.specialist.first_name }} {{ patient.specialist.patronymic }}</div>
                                    <div class="cell" data-title="Test Date">{{ patient.test_date }}</div>
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="row table__header">
                                <div class="cell" id="header1">ФИО</div>
                                <div class="cell" id="header2">Номер телефона</div>
                                <div class="cell" id="header3">Дата рождения</div>
                                <div class="cell" id="header4">Адрес проживания</div>
                                <div class="cell" id="header5">Дата Регистрации</div>
                            </div>
                            {% for patient in patients %}
                                <a href="{% url 'profile' patient.pk %}" class="row">
                                    <div class="cell"
                                         data-title="FIO">{{ patient.Surname }} {{ patient.Name }} {{ patient.Patronymic }}</div>
                                    <div class="cell" data-title="Phone">{{ patient.Telephone }}</div>
                                    <div class="cell" data-title="Date of Birth">{{ patient.Date_of_birth }}</div>
                                    <div class="cell" data-title="Address">{{ patient.Place_of_residence }}</div>
                                    <div class="cell"
                                         data-title="Date of Registration">{{ patient.data_joined }}</div>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if is_paginated %}
                        <div class="pagination">
                            <ul>
                                {% if page_obj.has_previous %}
                                    <li>
                                        <a href="{% url 'patients' %}?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}
                                {% for f in page_obj.paginator.page_range %}
                                    {% if f == page_obj.number %}
                                        <li><a class="is-active" href="{% url 'patients' %}?page={{ f }}">{{ f }}</a>
                                        </li>
                                    {% else %}
                                        <li><a href="{% url 'patients' %}?page={{ f }}">{{ f }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a href="{% url 'patients' %}?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/patients.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.addEventListener("click", e => {
                {% if perms.user.edit_analyzes %}
                    if (e.target.id === "header1") {
                        columnSort(document.querySelector("#header1"), "Patient");
                    } else if (e.target.id === "header2") {
                        columnSort(document.querySelector("#header2"), "Specialist")
                    } else if (e.target.id === "header3") {
                        columnSort(document.querySelector("#header3"), "Test Date")
                    }
                {% else %}
                    if (e.target.id === "header1") {
                        columnSort(document.querySelector("#header1"), "FIO");
                    } else if (e.target.id === "header2") {
                        columnSort(document.querySelector("#header2"), "Phone")
                    } else if (e.target.id === "header3") {
                        columnSort(document.querySelector("#header3"), "Date of Birth")
                    } else if (e.target.id === "header4") {
                        columnSort(document.querySelector("#header4"), "Address")
                    } else if (e.target.id === "header5") {
                        columnSort(document.querySelector("#header5"), "Date of Registration")
                    }
                {% endif %}
            });
        });
    </script>
{% endblock %}